@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

footer {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.2);
    margin-top: 50px;
    font-size: 0.9rem;
    justify-content: space-between;
    display: flex;
} 


.polen-grid {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.polen-badge {
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}

.green { background-color: #28a745; }
.orange { background-color: #ffc107; color: #333; }
.red { background-color: #dc3545; }
.blue { background-color: #17a2b8; }

.stats-panel {
    background: rgba(0, 0, 0, 0.4);
    padding: 25px;
    border-radius: 8px;
    line-height: 1.6;
}

.resumen-msg {
    font-style: italic;
    color: #efeee7;
}