@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


nav a, .logo {
    color: rgb(242, 232, 232);
    text-decoration: none;
    margin-right: 20px;
}
 .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
} 