@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

 body { 
     margin: 0; 
     font-family: Arial, sans-serif; 
     background: var(--bg-gradient) no-repeat fixed; 
     background-size: cover; 
     color: var(--text-color); 
     min-height: 100vh; 
} 

h1 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 2px;
} 


header {
    background-color: #6250e8;
    padding: 15px 30px;
  
}



